nav{
    margin-block: 50px;
}
.home{
    text-align: center;
    margin:15px;
    /* padding: 2rem; */
    background-color: burlywood;
    border-radius: 20px;
    padding: 10px 12px 10px 12px;

}
.home a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
body{
    text-align: center;
    background-color: grey;

}
